<div class="panel panel-default">
  <div class="panel-heading">
    <h4 id="test-master-menu" class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#test">
        <%= link_to 'Test', [:admin, :tests], remote: true %>
      </a>
    </h4>
  </div>
</div>